﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Localization

@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthProvider
@inject IStringLocalizer<Language> L

<CascadingAuthenticationState>

@code {
    private AuthenticationState? authState;
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity?.IsAuthenticated == true)
        {
            userName = authState.User.Identity.Name;
        }
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tanzania Eksperten</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @L["Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kundeoversigt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["CustomerDash"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modify-email">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["ModifyEmail"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SendRejseplan">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["SendItinerary"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="opret-rejseplan">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["CreateItinerary"]
            </NavLink>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rejser">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["Trips"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="standardture">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["StandardTrips"]
                </NavLink>
            </div>
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["Login"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/template-builder">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["TemplateBuilder"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/templates">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["Templates"]
            </NavLink>
        </div>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin-dashboard">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @L["AdminDashboard"]
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
    </nav>
</div>
</CascadingAuthenticationState>